
<html>
  <body>
    <h1>Add a space</h1>
    <form action="make_listing" method="post">
      <input type="text" name="space_name" placeholder="Space Name">
      <input type="text" name="description" placeholder="Description">
      <input type="text" name="ppn" placeholder="Price Per Night">
      <input type="text" name="dates_available" placeholder="Dates Avaliable">
      <input type="text" name="avaliablity" placeholder="Avaliablity">
      <input type="text" name="location" placeholder="Location">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
