<!DOCTYPE html>
<html>
<head>
  <title>BnB</title>
</head>
<body>
  <section>
    <form id="tabs">
      <button class="box"id="home" type="button">Home</button>
      <button class="box"id="list" type="button">list of spaces</button>
      <button class="box"id="make" type="button">Make a listing</button>
      <button class="box"id="signing_in" type="button">Sign in</button>
      <button class="box"id="signing_up" type="button">Sign up</button>
    </form>
  </section>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" href="css/stylesheet.css"></link>
<script>
$(document).ready(function(){
  $("#home").click(function(){
    $('#info').text("Welcome to MakersBnB!");
  });
  $("#list").click(function() {
    $.get("http://localhost:9292/", function(data){
    $("#info").load("http://localhost:9292/");
    })
  });
  $("#make").click(function() {
    $("#info").load("make_listing");
  });
  $("#signing_up").click(function() {
    $("#info").load("sign_up");
  });
  $("#signing_in").click(function() {
    $("#info").load("sign_in");
  });
});
</script>
<h2>
  <%= flash[:notice] %>
</h2>
<% if @user %>
  <h1>Welcome, <%= @user.username %></h1>
  <form action="/sign_out" method="post">
    <input type="submit" value="Sign out" />
  </form>
<% end %>
<p class="p" id="info"> </p>
</body>
</html>
