<!DOCTYPE html>
<html>
<head>
  <title>Registeration form</title>
</head>
<body>
  <h1>Sign Up</h1>
  <section>
    <form action="sign_up" method="post">
      <input type="text" name="full_name" placeholder="Full Name">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Submit">
    </form>
  </section>
  <link rel="stylesheet" href="css/stylesheet.css"></link>
</body>
</html>
