<!DOCTYPE html>
<html>
<head>
  <title>BnB</title>
  <link rel="stylesheet" type="text/css" href="css/stylesheet.css"></link>
</head>
<body>
  <section>
    <header>
    <div class="container">
      <h1 class="logo"></h1>
      <nav>
        <ul>
          <form id="tabs">
            <li><a href="#home" data-id="1" id="home">Home</a></li>
            <li><a href="#list" data-id="2" id="list">list of spaces</a></li>
            <li><a href="#make" data-id="3" id="make">Make a listing</a></li>
          </form>
        </ul>
      </nav>
    </div>
    </header>
  </section>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  <script>
    $(document).ready(function(){
      $("#home").click(function(){
        $('#info').text("Welcome to MakersBnB!");
      });
      $("#list").click(function() {
        $.get("http://localhost:9292/", function(data){
          $("#info").load("http://localhost:9292/");
        })
      });
      $("#make").click(function() {
        // Access-Control-Allow-Origin: "*";
        $("#info").load("make_listing");
      });
    });
  </script>
  <p class="p" id="info"> </p>
</body>
</html>

<!-- <li><button class="box"id="home" type="button">Home</button></li>
<li><button class="box"id="list" type="button">list of spaces</button></li>
<li><button class="box"id="make" type="button">Make a listing</button></li> -->
